@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.login form div {
  @apply flex flex-col
}

.login form div input {
  @apply border border-slate-600 p-2 rounded bg-transparent
}

.login form div input:focus {
  @apply border-none outline outline-2 outline-blue-500
}

.new-client form input, select {
  @apply bg-transparent border border-blue-800 rounded p-2
}

.new-client form input:focus, select:focus {
  @apply outline outline-2 outline-blue-500
}
select:focus{
  @apply bg-black border border-blue-500
}
.link {
  @apply px-2 py-3
}

.overview-cards {
  @apply grid grid-cols-3 gap-4 min-h-[70vh] mt-8 p-8
}

.overview-cards div {
  @apply border border-slate-200 bg-black rounded-[15px] p-4 cursor-pointer hover:bg-gray-400 hover:border-none
}

