@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
.login form{
  @apply w-full sm:w-[30%] p-4
}
.login form div {
  @apply flex flex-col
}
.login form div input{
  @apply border border-slate-600  p-2 rounded bg-transparent
}
.login form div input:focus{
  @apply border-none outline outline-2 outline-blue-500
}
.new-client form input{
  @apply bg-transparent border border-blue-800 rounded p-2
}
.new-client form input:focus{
  @apply  outline outline-2 outline-blue-500
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

